@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600&display=swap');


.btn {
    @apply shadow-md py-3 px-6 rounded-md transition duration-300
}

.btn-purple{
    @apply bg-bookmark-purple text-white
}

.btn-white {
    @apply bg-bookmark-white
}

[hidden] {
    display: none;
}

html {
    scroll-behavior: smooth; 
}



.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
